<!DOCTYPE html>
<html>
<title>Login Email App</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/w3.css')}}">
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/font-awesome.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/style.css')}}">
<script type="text/javascript" src="{{=URL('static', 'brython/brython.js')}}" ></script>
<script type="text/javascript"  src="{{=URL('static', 'brython/brython_stdlib.js')}}" ></script>
<script type="text/python" src="login.py" ></script>

<body   onload="brython(1)">





<div  id="container">
</div>








</body>


</html>



